%h4 facebook

#posts
  %table{:align => "center", :width => "50%"}
    - @posts.each do |apost|
      %tr
        %td=link_to apost.user.username, user_profile_path(apost.user)
      %tr
        %td=apost.wall_post

%footer
  = link_to 'Profile Preferences', user_path(current_user)
  \|
  = link_to 'Search for Friends', user_search_path(current_user)
 


