// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header{
 background-color:#003;
 border-style:solid;
 border-color:#003;
}
#profile, #users, #new_user, #login, #form{
 background-color:#003;
}
#prof_header, #user_header, #new_user_header, #login_header{
 background-color:#003;
 border-style:solid;
 border-color: #003;
}
table{
 background-color:#69F;
 border:1px solid black;
 
}
#users table{
 text-align:center;
}
tr, td, th{
 border:1px solid black;
 width: 20%;
}
th h2{
 text-color:red;
}
th {
 font-size: medium;
}
#user_info table{
 background-color:#69F;
 border-style: solid;
 float:left;
 width: 34%;
}
#friends table{
 background-color:#69F;
 border-style: solid;
 float:right;
 width: 33%;
}
#friends h2{
 text-align:right;
 color:yellow;
}
#requests table{
 align: center;
 width:33%;
}
#posts table{
 text-align: center;
 align:center;
 width: 33%;
}
#posts .field, .action{
 text-align:center;
}
#posts{
 
}
footer{
 text-color:white;
 align: left;
 position:absolute;
 bottom: 0px;
}

.field{
 color:#fff;
 text-align:left;
 font-size:large;
}
h1{
 color:#093;
 text-align:left;
}
h2{
 color:white;
 text-align: left;
}
h3{
 color:white;
 text-align:right;
}
h4{
 color: white;
 text-align:center;
 font-size:xx-large;
}
p{
 color:white;
 text-align:center;
}
